@charset "utf-8";

/*슬라이더*/
#slider {width:1900px; height:525px; margin:0 auto;}
#slider > img {width: 100%; height: 100%;} 



/*섹션-메인1,2,3,4,5,6,7*/
#main1 {width:1260px; height:250px; margin:10px auto;}

#main2 {width:1260px; height:840px; margin:10px auto;}

#main3 {width:1260px; height:590px; margin:10px auto;}

#main4 {width:1260px; height:980px; margin:10px auto;}

#main5 {width:1260px; height:1110px; margin:10px auto;}

#main6 {width:1260px; height:1060px; margin:10px auto;}

/*#main7 {width:100%; height:540px; margin:10px auto; background-color:#eee;}*/


section h1 {text-align:center; padding:25px 0px; font-size: 23px;}
section h2 {text-align:center; padding:25px 0px; font-size: 21px;}



/*인기 카테고리-메인1*/
#category {width:985px; height:170px; margin:0 auto;}
#category > .cbox {width: 100px; height: 140px; display: inline-block; margin: 15px 29px 15px 30px; text-align: center;}
#category .cbox img {width: 60px; height: 60px; display:block; margin: 20px auto;}
#category > .cbox > img > span {display: block;}



/*실시간 베스트-메인2*/
.best {width:1260px; height:340px; margin:20px auto;}
.best > .bbox {width: 240px; height: 340px; background-color:#fff; display: inline-block; margin: 0 auto; overflow: hidden; box-shadow: 4px 4px 4px #eee; border-radius: 3px; border: 1px solid #eee;}
.best > .bbox:first-of-type {margin: 0 6px 0 0px;}
.best > .bbox:nth-of-type(2) {margin: 0 4px 0 4px;}
.best > .bbox:nth-of-type(3) {margin: 0 4px 0 4px;}
.best > .bbox:nth-of-type(4) {margin: 0 4px 0 4px;}
.best > .bbox:last-of-type {margin: 0 0 0 6px;}

.best > .bbox > a > img {width:240px; height: 240px; transform: scale(1.0); transition: 0.5s;}
.best > .bbox > a > img:hover {cursor: pointer; opacity: 0.8;}


.best p a {text-decoration: none; color: #333; font-size: 13px;}
.best h5 a {text-decoration: none; color: #333; font-size: 15px;}
.best del {color: #bbb; font-size: 11px; float: left;}


.textbox {padding: 0px 5px;}



/*타임특가-메인3 - 타임특가, 인기키워드, 지금 만나는 신상 tbox로 통일*/
#time {width:1260px; height:450px; margin:20px auto;}
#time > .tbox {width: 300px; height: 430px; background-color:#fff; display: inline-block; margin: 0 auto; overflow: hidden; box-shadow: 4px 4px 4px #eee; border-radius: 3px; border: 1px solid #eee;}
#time > .tbox:first-of-type {margin: 0 9px 0 0px;}
#time > .tbox:nth-of-type(2) {margin: 0 6px 0 6px;}
#time > .tbox:nth-of-type(3) {margin: 0 6px 0 6px;}
#time > .tbox:last-of-type {margin: 0 0px 0 9px;}

#time > .tbox > a > img {width: 300px; height: 300px; transition: 0.5s;}

#time p a {text-decoration: none; color: #333; font-size: 16px;}
#time h5 a {text-decoration: none; color: #333; font-size: 19px;}
#time del {color: #bbb; font-size: 15px; float: left;}
/*#time > .tbox > #h5after1 > a:after {content:" 32%"; color:#ef404a;}*/

#time > .tbox > a > img:hover {cursor: pointer; opacity: 0.8;}


/*블록 5개-메인4*/
#square1 {width:620px; height:620px; display:inline-block; margin: 0 18px 14px 0px; float: left;}
#square1  a  img {width: 100%; height: 100%;}

#square3 {width:620px; height:300px; display:inline-block; margin: 0 0 14px 0px; float: right;}
#square3  a  img {width: 100%; height: 100%;}

#square4 {width:620px; height:300px; display:inline-block; margin: 0 14px 0 0px; float: left;}
#square4  a  img {width: 100%; height: 100%;}

#square5 {width:620px; height:620px; display:inline-block; margin: -320px 0 0 0px; float: right;}
#square5  a  img {width: 100%; height: 100%;}



/*인기 키워드-메인5, 지금 만나는 신상-메인6*/
#hot {width: 565px; height: 50px; margin:0px auto;}


#hot .hotsbox {border: 1px solid #bbb; display: inline-block; padding: 10px; margin: 3px 12px; border-radius: 5px; background-color: #fff;}
#hot .hotsbox:hover {background-color: #ccc; transition: 0.5s; cursor: pointer;}

.keyword {width:1260px; height:450px; margin:30px auto;}

.keyword > .tbox {width: 300px; height: 430px; background-color:#fff; display: inline-block; margin: 0 auto; overflow: hidden; box-shadow: 4px 4px 4px #eee; border-radius: 3px; border: 1px solid #eee;}
.keyword > .tbox:first-of-type {margin: 0 9px 0 0px;}
.keyword > .tbox:nth-of-type(2) {margin: 0 6px 0 6px;}
.keyword > .tbox:nth-of-type(3) {margin: 0 6px 0 6px;}
.keyword > .tbox:last-of-type {margin: 0 0px 0 9px;}

.keyword > .tbox > a > img {width: 300px; height: 300px; transition: 0.5s;}

.keyword p a {text-decoration: none; color: #333; font-size: 16px;}
.keyword h5 a {text-decoration: none; color: #333; font-size: 19px;}
.keyword del {color: #bbb; font-size: 15px; float: left;}
/*.keyword > .tbox > #h5after1 > a:after {content:" 32%"; color:#ef404a;}*/

.keyword > .tbox > a > img:hover {cursor: pointer; opacity: 0.8;}


/*배너1,2*/
.bannerstyle {width: 100%; height: 120px; background-color: #eaeaea;}
.banner {width: 1260px; height: 120px; margin: 30px auto;}
.banner > img {width: 100%; height: 100%;}